aside button {
    position: absolute;/* fixed */
    right: 200px;
    top: 120px;
    z-index: 100000;
    opacity: 0.5;
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid ghostwhite;
}

aside button:hover {
    opacity: 1;
}



nav div {
    /*display: inline;*/

}

a {
    text-decoration: none;
}
