:root{
	--fontfamily: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

#logForm {
	background-color: DarkSlateGray;
	max-width: 400px;
	/*height: 450px;*/
	margin: auto;
	color: #FFFAF0;
	padding: 20px;
}
#logForm legend {
	text-align: center;
	font-family: var(--fontfamily);
	font-size: 30px;
	margin: 10px 0;
}
::placeholder {
  color: #FFFAF0;
  opacity: 1; /* Firefox */
}
.smallInput {	
	width: 42%;
	margin: 10px 0;
	padding: 12px;
	background-color: DarkSlateGray;
	border: 2px solid #FFFAF0;
    border-radius: 5px;
    font-family: var(--fontfamily);
    color: #FFFAF0;
}
#fname {
	float: left;
}
#lname {
	float: right;
}
.input {
	width: 100%;
  	margin: 10px 0;
  	display: inline-block;
  	box-sizing: border-box;
  	padding: 12px;
  	border: 2px solid #FFFAF0;
    border-radius: 5px;
    background-color: DarkSlateGray;
    font-family: var(--fontfamily);
    color: #FFFAF0;	
}
.input:focus {
	outline: none !important;
	border-color: #b3ffff;
}
.submit {
  	border: 2px solid #0099ff;
    background-color: #0099ff;
    font-size: 30px;
}
.longButton {
	margin: 10px 0;
  	float: left;
  	box-sizing: border-box;
  	width: 50%;
  	padding: 12px;
    font-family: var(--fontfamily);
    color: #FFFAF0;
}
.hidden {
	display: none;
}
.visible {
	display: initial;	
}
.checked {
	border: 2px solid #0099ff;
    background-color: #0099ff;
}
.unchecked {
	background-color: #437070;
	border: 2px solid #437070;
}
span {
	font-family: var(--fontfamily);
	font-size: 16px;
	font-style: oblique;
	color: #ffff1a;
}
span ul{
	list-style-type: none;
	margin: 0;
  	padding: 0
}
#link:link, #link:visited {
	background-color: #0066cc;
  	color: white;
  	padding: 14px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-style: oblique;
  	font-family: var(--fontfamily);
  	color: #ffffe6;
}
#link:hover, #link:active {
	background-color: #3399ff;
}
#centered {
	margin: 25px auto;
	width: 150px;
}
