body {
  color: white;
  padding: 5px 30px 15px 30px;
  width: 475px;
  margin: auto;
  margin-top: 100px;
  box-sizing: border-box;
}

input {
  width: 154px;
  height: 25px;
  margin: 30px 0 0 0;
  padding-left: 10px;
}

#tabs {
  display: block;
  height: 110px;
}

#sign-up, #log-in {
  display: none;
}

#sign-up.active, #log-in.active {
  display: block;
}

#sign-up-tab, #log-in-tab {
  float: left;
  width: 175px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0;
  text-align: center;
  background: red;
}

#sign-up-tab.active, #log-in-tab.active {
  background: green;
}

#fname {
  margin-right: 15px;
  float: left;
}

#lname {
  margin-right: 0;
}

#email, #password, #login, #login-password {
  width: 340px;
}

#second-forms {
  min-height: 430px;
  background: #24323d;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;
}

#log-in {
}

#button, #login-button {
  border: 0;
  width: 354px;
  height: 50px;
  font-size: 20px;
  font-family: Courier, monospace;
  font-weight: 600;
}

.text {
  text-align: center;
  font-size: 28px;
}

.next-form {
  height: 0;
  text-align: center;
}

.background-green {
  background: green;
}

.background-yellow {
  background: #c5991c;
}

[class^="err-"] {
  display: block;
  background-color: #80141c;
  margin-bottom: 10px;
}

.home a img {
  position: absolute;
  margin-left: -25px;
  top: 90px;
}


body, html {
  height: 100%;
}

body {
  /* The image used */
  background-image: url("https://sites.google.com/site/prirodanasevseegooglgfgf/_/rsrc/1463456237313/home/priroda_gory_nebo_ozero_oblaka_81150_1920x1080.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
